---
Language:        Cpp
BasedOnStyle:    LLVM
IndentWidth:     4
TabWidth:        4
UseTab:          Never
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass:    false
  AfterControlStatement: false
  AfterEnum:     false
  AfterFunction: false
  AfterNamespace: false
  AfterStruct:   false
  AfterUnion:    false
  BeforeCatch:   false
  BeforeElse:    false
  IndentBraces:  false
ColumnLimit:     80
...
